version: '3.9'

services:
  redis:
    image: redis:7.2-alpine
    container_name: product-api-redis
    command: redis-server --requirepass @Pass2025
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - product-network

  postgres:
    image: postgres:16-alpine
    container_name: product-api-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "@Pass2025"
      POSTGRES_DB: products_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - product-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: product-api-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8180
    command: start-dev --http-port=8180
    ports:
      - "8180:8180"
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8180;echo -e 'GET /health/ready HTTP/1.1\\r\\nhost: localhost\\r\\nConnection: close\\r\\n\\r\\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    networks:
      - product-network

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local

networks:
  product-network:
    driver: bridge
