version: '3.9'

services:
  redis:
    image: redis:7.2-alpine
    container_name: product-api-redis
    command: redis-server --requirepass @Pass2025
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - product-network

  postgres:
    image: postgres:16-alpine
    container_name: product-api-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "@Pass2025"
      POSTGRES_DB: products_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - product-network

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local

networks:
  product-network:
    driver: bridge
